 {% extends 'base.html.twig' %}

{% block title %} 
    Bienvenue
{% endblock %}

{% block body %} 


<div class="container">
    <div class="jumbotron tof mt-3 ml-3 pt-3 pr-5 pf-5 pb-2">
        <div class="row">
            <div class="col-6">
                </br> </br> </br>
                <h1 class="display-3 text-center">NéSousX</h1>
                </br>
                <p class="lead1 text-center">
                    <a class="btn btn-blue mt-3 " href="{{ path('ads_index') }}" role="button">Consultez les annonces</a>
                </p>
            </div>
            <div class="col-6">
                </br> </br> </br> </br> </br> </br> </br> </br> </br> </br>
                <p class="lead">Le site qui met en relation les enfants et les parents séparés suite à un abandon / adoption</p>
                </br> </br> </br> </br> 
            </div>
        </div>
    </div>


    <h2 class="mb-3 mt-4"><a href="{{ path('ads_index') }}">Les dernières annonces postées</h2>

    <div class="row">
        {% for ad in ads %}
            <div class="col-4">
                {%set url = path('ads_show', {'slug': ad.slug}) %}
                <div class="card bg-light mb-3  rounded border-info">
                    <div class="container ad1 pt-1 rounded-top border-info">
                        <a href="{{ url }}" class="text-black">
                            <div class="card-title">
                                <strong>{{ ad.title }}</strong>                            
                            </div>
                        </a>
                    </div>
                    <div class="container bg-light mb-0.5 rounded-bottom border-info">
                        <div class="card-details ml-2 mt-2">
                        <p><u>Date de naissance de l'enfant</u> : {{ad.birthDay}}/{{ad.birthMonth}}/{{ad.birthYear}}</p>
                        <p><u>Sexe</u> : {{ad.kind}}</p>
                        <p><u>Pays de naissance</u> : {{ad.country}}</p>
                        </div>
                    </div>             
                </div>
            </div>
        {% endfor %}        
    </div>      
</div>
</br> </br> </br>
{% endblock %}

    
