{% extends 'base.html.twig' %}

{% block title %}Toutes nos annonces{% endblock %}

{% block body %}

<div class="container">
    <h2 class="mb-3 mt-4">Parcourez les annonces</h2>
    <p class="lead1 text-center mb-3">
        <a class="btn btn-blue mb-3 " href="{{ path('ads_search') }}" role="button">Accédez au formulaire de recherche</a>
    </p>

    <div class="row">
        {% for ad in ads %}
            {% include 'ad/_ads.html.twig' %}          
        {% endfor %}
    </div>
     <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('ads_index', {'page': page - 1}) }}">&laquo;</a>
            </li>
            {% for i in 1..pages %}
            <li class="page-item {% if page == i %}active{% endif %}">
            <a class="page-link" href="{{ path('ads_index', {'page' : i}) }}">{{ i }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path('ads_index', {'page': page + 1}) }}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
