{% extends 'base.html.twig' %}

{% block title %}
    {{ad.title}}
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="card bg-light mb-3 rounded border-info">
        <div class="container ad1 pt-1 rounded-top border-info">
            <div class="card-title">
            <strong>{{ ad.title }}</strong>
            </div>
        </div>
        <div class="container bg-secondary mb-0.5 rounded-bottom border-info">
            <div class="card-details ml-2 mt-2">
                <p><u>Informations principales</u> :</p>
                <p><u>Date de naissance</u> : {{ad.birthDay}}/{{ad.birthMonth}}/{{ad.birthYear}}</p>
                <p><u>Genre</u> : {{ad.kind}}</p>
                <p><u>Pays de naissance</u> : {{ad.country}}</p>
            </div>
        </div>               
        <div class="card-body">
            <p class="card-text">
            {{ad.content}}
            </p>
            <a href="{{ path('user_show', {'slug' : ad.author.slug}) }}">
                <button type="button" class="btn float-right" >Contactez l'auteur de l'annonce</button>
            </a>
        </div>
    </div>
</div>
   
{% endblock %}